@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";
@plugin "@tailwindcss/typography";

@theme {
  --font-poppins: "Poppins", sans-serif;
}
